.button{
    border-radius: 10px;    
    border: 1px solid transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: var(--blue);
    height: 50px;
}   

.button.type-primary{
    background: var(--blue);
    color: var(--white);
}

.button.type-secondary{
    color: var(--dark-gray);
}

.button.size-sm{
    width: 200px;
}

.button.size-md{
    width: 400px;
}

.button.size-xl{
    width: 600px;
}